<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body class="container">

    <span>V4 Payment Page on iFrame</span> <br />
    <iframe name="output_frame" id="output_frame" src="<%=paymentUrl%>" width="800" height="800"></iframe>

</body>

</html>